---
layout: default
title: Blog
---
<h1>Posts</h1>

<p class="first-p">
  <span class="first-word">This is</span> a complete list of posts. They are ordered by date, which can be seen in the
  thumbnails of each post. Old posts appear at the bottom of the page while new posts appear at the top.
  There is no other particular order of the posts because they appear as soon as they are created. You will find in this
page posts covering a wide range of topics: science, books, short stories, etc.
</p>


{% include linked_post.html url="favourite-books" %}

{% include linked_post.html url="dynamic-plotting-python" %}

{% include linked_post.html url="plotly-error-band" %}
