---
---

@import "{{ site.theme }}";


.linked_post_div {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.linked_post_div h1 {
  margin-top: 0px;
  text-align: left;
}

.avatar {
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}