---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view" >by {{ page.author | default: site.author }}</p>

<!-- Output author details if some exist. -->
{% assign author = page.author | default: site.author %}
{% if author %}
        <img class="avatar" src="./assets/img/authors/{{ page.author }}.jpeg" alt="{{ page.author }}" width="50" height="50">
{% endif %}


{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}